<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="HRMSAutomationMasters">

		<listeners>
		<listener class-name="com.hrms.ExtendReportListener.ExtentReporterNG" />
		<listener class-name="com.hrms.util.ListenerTest" />
	</listeners>
	<!---->
	
 	<test name="HRMSAutomationMastersIndiaTesting">

		<classes>

			<class name="com.hrmsmasters.testcases.MasterGeoCountryTest" />
	        <class name="com.hrmsmasters.testcases.MasterGeoProvinceTest" />
			<class name="com.hrmsmasters.testcases.MasterGeoCityTest" />
			<class name="com.hrmsmasters.testcases.MasterGeoBarangayTest" />
			<class name="com.hrmsmasters.testcases.MasterGeoWorkLocationTest" />

		    <class name="com.hrmsmasters.testcases.MasterPersonalReligionTest" />
			<class name="com.hrmsmasters.testcases.MasterPersonalNationalityTest" />
			<class name="com.hrmsmasters.testcases.MasterPersonalLanguageTest" />
			<class name="com.hrmsmasters.testcases.MasterPersonalRelationshipTest" />
			<class name="com.hrmsmasters.testcases.MasterPersonalBloodGroupTest" />
			<class name="com.hrmsmasters.testcases.MasterPersonalIdentificationProofTest" />


			<class name="com.hrmsmasters.testcases.MasterEducationQualificationTest" />
			<class name="com.hrmsmasters.testcases.MasterEducationDegreeTest" />
			<class name="com.hrmsmasters.testcases.MasterEducationCourseTest" /> 
		
		<!--	<class name="com.hrmsmasters.testcases.MasterPositionJobLevelTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionPositionTitleTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionBusinessUnitTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionDepartmentTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionSubDepartmentTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionCostCenterTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionCenterTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionPositionCategoryTest" />
			<class name="com.hrmsmasters.testcases.MasterPositionMarketDesignationTest" />

			<class name="com.hrmsmasters.testcases.MasterRecruitmentConsultantTest" />
			<class name="com.hrmsmasters.testcases.MasterRecruitmentCompetenciesTest" />
			<class name="com.hrmsmasters.testcases.MasterRecruitmentEvaluationFormTest" />
			<class name="com.hrmsmasters.testcases.MasterRecruitmentSkillTest" />

			<class name="com.hrmsmasters.testcases.MasterAttendanceShiftTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceDayDescriptionTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceHolidayTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceAttentPolicyTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceOTReasonTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceWeekOffPolicyTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceODReasonTest" />  -->
			
			<!--		<class name="com.hrmsmasters.testcases.MasterAttendanceFlexiHolidayPolicyTest" />
			<class name="com.hrmsmasters.testcases.MasterAttendanceFlexiHolidayChangeTest" /> -->

			 
		 <!--<class name="com.hrmsmasters.testcases.MasterPayRollAccountMasterTest" />
			<class name="com.hrmsmasters.testcases.MasterPayRollComponentGroupTest" />
			<class name="com.hrmsmasters.testcases.MasterPayRollComponentMaster2Test" />

			<class name="com.hrmsmasters.testcases.MasterPayRollJournalSetupTest" />
			<class name="com.hrmsmasters.testcases.MasterPayRollPayrollGroupingTest" />
			<class name="com.hrmsmasters.testcases.MasterPayrollPaySlipTitleTest" />
			<class name="com.hrmsmasters.testcases.MasterPayRollBankTest" />
			<class name="com.hrmsmasters.testcases.MasterPayRollBankBranchTest" />
			<class name="com.hrmsmasters.testcases.MasterPayRollCurrencyTest" />
			<class name="com.hrmsmasters.testcases.MasterPayrollHolidayWorkComponentTest" />

			<class name="com.hrmsmasters.testcases.MasterReimbursementSetupTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementReimbursementWindowTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementBillsTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementProcessTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementMonthlyPayListsTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementEmployeeListViewTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementEndPeriodPayListsTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementPayInPeriodTest" />
			<class name="com.hrmsmasters.testcases.MasterReimbursementExcelReportTest" />


			<class name="com.hrmsmasters.testcases.MasterStatutoryPFTest" />
			<class name="com.hrmsmasters.testcases.MasterStatutoryESITest" />
			<class name="com.hrmsmasters.testcases.MasterStatutoryPTTEST" />
			<class name="com.hrmsmasters.testcases.MasterStatutoryLWFTEST" />
			<class name="com.hrmsmasters.testcases.MasterStatutorySuperAnnuationTest" />

			<class name="com.hrmsmasters.testcases.MasterAssetsAssetItemsTest" />

			<class name="com.hrmsmasters.testcases.MasterExitManagementSetupTest" />
			<class name="com.hrmsmasters.testcases.MasterExitManagementExitTypeTest" />
			<class name="com.hrmsmasters.testcases.MasterExitManagementNoduesTest" />
			<class name="com.hrmsmasters.testcases.MasterExitManagementInterviewQuestionsTest" />
			<class name="com.hrmsmasters.testcases.MasterExitManagementGratuityTest" />

			<class name="com.hrmsmasters.testcases.MasterDocumentMasterDocumentMasterTest" />

			<class name="com.hrmsmasters.testcases.MasterLetterTemplateLetterTempTest" /> -->	
		</classes>

	</test>


	 



		





</suite>